h5{
    color: white;
    
    text-align: center;

}

.card-title,.card-text{
    color: black;

}

.icons{
    width: 55px;
    height: 55px;
}
.container1{
    display:flex;
    height: 90px;
    justify-content:center;
    justify-content: space-around;
  
}

.card-img-top{
    height: auto;
    width: auto;  
        transition: transform 0.3s ease;
      }
      
      .card-img-top:hover {
        transform: scale(1.1);
      }
footer{

    background-color: #014064;
    }
p4{
    width: 500px;
    color: white;
}
h5{
    color: white;
}
p3{
    color: white;
    text-align: center;
}

.card-img-top{
    height: 220px;
    width: 320px;
}


.btn{
    margin-left: 65px;
}
.letra{
    color: #014064;
}
.margin{
    margin-left: 21px;
    
}
.marginleft{
 
    padding-left: 120px;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 14px;
}
.card-title2{
    font-weight: bold;
    font-size: 20px;
}
.nav-item:hover{
    background-color: rgba(231, 231, 231, 0.945);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.padding{
    padding-top: 15px;
}
